<table 
    class="cndce-checkin-table"
    data-sortable = "true"
>
<thead>
    <tr>
        <th data-field="state" data-checkbox="true" data-sortable="true"></th>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="hours"  data-sortable="true">Duration</th>
        <th data-field="tag.name" data-sortable="true">Tag</th>
        <th data-field="activity" data-sortable="true">Activity</th>
        <th data-field="date" data-sortable="true">Date</th>
    </tr>
</thead>
</table>